// ~~~~~~~~~~~~~~~~~~~~~~~~~
//   dashboard stylesheet
// ~~~~~~~~~~~~~~~~~~~~~~~~~
.media-cover-art {
    background-size: 100%;
    border-radius: 10px;
}

.media-info {
    padding: 20px;
}

.media-title {
    font-size: 35px;
}

.media-artist {
    font-size: 25px;
    color: transparentize($foreground, 0.6);
}

.media-progress-label {
    font-size: 20px;
    color: transparentize($foreground, 0.6);
}