.digital-clock label {
    font-size: 100px;
    font-weight: bold;
}

.greeter {
    & .greet-name {
        font-size: 40px;
        font-weight: bold;
    }

    & .greet-time {
        font-size: 30px;
    }
}

.tfe {
    padding: 20px;
}

.tfe-block {
    background-color: $color0;
    border-radius: 10px;
}

.tfe-low {
    background-color: $color7;

    & label {
        color: $background;
    }
}

.tfe-medium {
    background-color: $color1;
}

.tfe-big {
    background-color: $color3;

    & label {
        color: $background;
    }
}

.tfe-massive {
    background-color: $color4;
}

.desktop-widget {
    background-color: transparentize($background, 0.25);
    border-radius: 25px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);

    &:hover,
    &:active {
        background-color: transparentize($background, 0.25);
        border: 4px solid $color1;
    }
}

.desktop-widget-icon {
    font-size: 70px;
}

.desktop-widget-desc {
    font-size: 25px;
    color: transparentize($foreground, 0.4);
}