// ~~~~~~~~~~~~~~~~~~~~~~~~~
//   global AGS stylesheet
// ~~~~~~~~~~~~~~~~~~~~~~~~~
* {
    font-family: Papernotes, Symbols Nerd Font;
    font-size: 30px;
    color: $foreground;
}

// #region main widget selectors
button {
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        background-color: transparentize($foreground, 0.9);
    }

    &:active {
        background-color: $color9;
    }

    &.widget {
        &:hover {
            background-color: $color1;

            * {
                color: $foreground;
            }

            .accent,
            .description {
                color: $background;
            }
        }

        &:active {
            background-color: $color9;
        }
    }

    &.alert:hover,
    &.alert.nobg:hover {
        background-color: $color3;

        * {
            color: $background;
        }
    }

    &.nobg:hover {
        background-color: transparent;
    }
}

levelbar {
    trough {
        background-color: $background;
        border-radius: 100px;

        .filled {
            background-color: $color1;
            border-radius: 100px;
        }
    }
}

.widget>calendar>* {
    padding: 7px;
    margin: 0px;
}

calendar {
    color: $foreground;

    &.widget>* {
        padding: 7px;
        margin: 0px;
    }

    &:selected {
        background-color: $color1;
        border-radius: 10px;
    }

    &:indeterminate {
        color: transparentize($foreground, 0.85);
    }

    &.highlight {
        color: $color1;
    }
}

tooltip {
    border-radius: 7px;
    background-color: $background;

    label {
        color: $foreground;
        margin: 3px;
    }
}

// systray icon popups
.popup {
    background-color: $background;
    border-radius: 10px;

    // all elements within the popup menu:
    //   (i cant find exactly what this selects but
    //   it looks right and works right so ill take it)
    &>*>* {
        padding: 5px 10px;

        &:hover {
            background-color: $color1;
        }
    }

    separator {
        background-color: transparentize($foreground, 0.85);
        padding: 1px 0px;
    }
}

popover {
    background-color: red;
}

// #endregion
// #region classes
.panel {
    background-color: $background;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.4);
    
    &.nobg {
        box-shadow: unset;
    }
}

.widget {
    background-color: $color0;
    padding: 12px;
    border-radius: 16px;
}

.description {
    color: $color8;
    font-size: 22px;
}

.nobg {
    background-color: transparent;

    &:hover,
    &:hover * {
        background-color: transparent;
        color: $color1;

        .description {
            color: $color8;
        }
    }

    &:active,
    &:active * {
        background-color: transparent;
        color: $color9;
    }

    &.alert:hover {
        color: $color3;
    }
}

.bigtext,
.bigtext * {
    font-size: 100px;
    font-weight: bold;
}

.smoltext,
.smoltext * {
    font-size: 24px;
}

.header {
    font-size: 40px;
}

.sub-header {
    font-size: 25px;
    color: $color8;
}

.enabled {
    background-color: $foreground;

    &,
    * {
        color: $background;
    }

    .description {
        color: $color8;
    }
}

.open {
    background-color: $color1;

    .accent,
    .critical {
        color: $background;
    }
}

.accent {
    color: $color1;
}

.alert,
.alert * {
    background-color: $color3;
    color: $background;
}

.critical,
.critical * {
    color: $color1;

    &.open {
        color: $background;
    }
}

// #endregion