// === colors =============================================
@import "../../.cache/wal/colors-eww.scss";

// === css reset ==========================================
* {
    all: unset;
    font-family: Papernotes, Symbols Nerd Font;
    font-size: 30px;
}

// === global =============================================
/*#region*/

label {
    color: $foreground;
}

.panel {
    background-color: $background;
    border-radius: 14px;
    padding: 5px;
}

.container {
    background-color: $color0;
    color: $foreground;
    padding: 15px 12px;
    border-radius: 10px;
    margin: 5px;
}

button {
    background-color: $color0;
    color: $foreground;
    padding: 5px 10px;
    border-radius: 10px;

    &:hover {
        background-color: $color8;
    }
}

scale {
    trough {
        background-color: $background;
        min-height: 30px;
        min-width: 100px;
        border-radius: 100px;

        highlight {
            // background: linear-gradient(135deg, $color1 30%, $color3);
            background-color: $foreground;
            border-radius: 100px;
        }
    }
}

.charging {
    color: $background;
    background-color: $color3;
    border-radius: 6px;

    label {
        color: $background;
    }
}

/*#endregion*/

// === bar ================================================
/*#region*/

.workspaces {
    padding: 0px;

    button {
        padding: 10px 10px;
        border-color: $color0;
    }

    .current {
        // background: linear-gradient(135deg, $color-main 30%, $color-main2);
        background-color: $color1;
        box-shadow: inset 3px 0 $foreground;
    }
}

// icon colors

.ctrl-icons {
    .open {
        background-color: $color1;
    }

    .open,
    &:hover {
        .container {
            background-color: $color1;
        }

        label {
            color: $foreground;
        }
    }

    &:active .container {
        background-color: $color9;
    }
}

.music {
    .open {
        background-color: $color1;
    }

    &:hover .container {
        background-color: $color1;
    }

    &:active .container {
        background-color: $color9;
    }
}

// time date colors

.day,
.minute {
    color: $color1
}

.weekday {
    margin-top: 20px;
    font-size: 24px;
}

.time-date {
    .open {
        background-color: $color1;
    }

    .open,
    &:hover {
        .container {
            background-color: $color1;
        }

        .day,
        .minute {
            color: $background;
        }
    }

    &:active {
        box {
            background-color: $color9;
        }

        .day,
        .minute {
            color: $background;
        }
    }
}

// this prevents the entire bar from getting bigger
//   when certain text characters show up in the
//   title (like the hyphen in firefox's titles)
.title {
    padding-left: 0px;
    padding-right: 0px;
}

/*#endregion*/

// === music panel ========================================
/*#region*/

.album-art {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 14px;
}

.music-info {
    padding: 20px;
}

.song-title {
    font-size: 30px;
}

.song-artist {
    font-size: 20px;
}

.music-panel {
    margin-bottom: 10px;
}

/*#endregion*/

// === ctrl panel =========================================
/*#region*/

.ctrl-slider {
    trough {
        highlight {
            background-color: $color1;
        }
    }

    min-width: 300px;
    padding-left: 20px;
}

.ctrl-infobox {
    .container {
        .ctrl-label {
            font-size: 25px;
        }

        .secondary {
            font-size: 22px;
            color: $color8;
        }
    }

    .enabled {
        background-color: $foreground;

        .ctrl-label {
            color: $color0;
        }
    }

    &:hover .container {
        background-color: $color1;

        .ctrl-label {
            color: $foreground;
        }

        .secondary {
            color: $color0;
        }
    }

    &:active .container {
        background-color: $color9;
    }
}

.ctrl-button:hover {
    .container {
        background-color: $color1;
    }

    .caution {
        background-color: $color3;

        label {
            color: $background
        }
    }
}

/*#endregion*/

// === cal panel ==========================================
/*#region*/

.calendar {
    color: $foreground;
}

/*#endregion*/
