@import "../../.cache/wal/colors-eww.scss";


// vars
$color-fg: $foreground;
$color-bg: $background;
$color-bg2: $color0;
$color-main: $color1;
$color-main2: $color3;

// === global =============================================
* {
    all: unset;
    font-family: Papernotes, Symbols Nerd Font;
    font-size: 30px;
}

// === widgets ============================================

window {
    background-color: $color-bg;
}

.container {
    background-color: $color-bg2;
    color: $foreground;
    padding: 10px 20px;
    border-radius: 17px;
    margin: 5px;
}

button {
    border: 2px solid $color-main2;
    border-radius: 10px;
    padding: 0px 8px;

    &:hover {
        background-color: $color-main2;
    }
}

.workspaces {
    padding: 0px;

    button {
        padding: 0px 15px;
        border-color: $color-bg2;
    }
}

.charging,
.workspaces .current {
    background: linear-gradient(135deg, $color-main 30%, $color-main2);
    box-shadow: inset 0 -3px $color-fg;
}
