// these are mostly just defaults lol

layout {
	gaps 16

	focus-ring {
		width 4
	}

	tab-indicator {
		width 8
		gap 6
		corner-radius 40
		gaps-between-tabs 10
		length total-proportion=0.75
		position "top"
	}
}
