.workspaces {
    padding: 0px;

    button {
        padding: 10px 10px;
        border-color: $color-bg2;
    }
}

.charging {
    color: $color-main2;
}

.workspaces .current {
    background: linear-gradient(135deg, $color-main 30%, $color-main2);
    box-shadow: inset 0 -3px $color-fg;
}

// this prevents the entire bar from getting bigger
//   when certain text characters show up in the
//   title (like the hyphen in firefox's titles)
.title {
    padding-left: 0px;
    padding-right: 0px;
}
