* {
    font-family: Papernotes, Symbols Nerd Font;
    font-size: 30px;
}

window#waybar {
    background-color: transparent;
    color: #fadad1;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces button {
    padding: 10 13px;
    background-color: #16161c;
    color: #fadad1;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 5;
}

#workspaces button.focused {
    background-color: #e9436f;
    box-shadow: inset 0 -3px #fadad1;
}

#workspaces button.urgent {
    background-color: #fab795;
    color: #1c1e26;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#keyboard-state,
#window,
#mpd,
#custom-waybar-mpris,
#custom-arch-updates,
#taskbar {
    background-color: #16161c;
    padding: 14 16px;
    color: #fadad1;
	border-radius: 5;
}

#window {
	padding-top: 8;
	padding-bottom: 8;
}

#battery,
#idle_inhibitor {
    color: #e9436f;
}

#mode {
    background-color: #e9436f;
}

#battery.charging, #battery.plugged {
    color: #fadad1;
    background-color: #e9436f;
}

@keyframes blink {
    to {
        background-color: #fadad1;
        color: #16161c;
    }
}

#battery.critical:not(.charging) {
    background-color: #fab795;
    color: #16161c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #16161c;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #fab795;
}
