.app-entry {
    .container {
        padding: 0px 10px;
        margin: 0;
    }

    &:hover .container {
        background-color: $color1;
    }

    &:active .container {
        background-color: $color9;
    }
}

.page-button {
    &:hover .container {
        background-color: $color1;
    }

    &:active .container {
        background-color: $color9;
    }

    &.selected .container {
        background-color: $foreground;

        label {
            color: $background;
        }
    }
}

.current-page-label {
    font-weight: bold;
    padding: 10px;
    border-bottom: 2px solid $color1;
}
