// ~~~~~~~~~~~~~~~~~~~~~~~~~
//   ctrl panel stylesheet
// ~~~~~~~~~~~~~~~~~~~~~~~~~

.ctrl-slider {
    trough {
        highlight {
            background-color: $color1;
        }
    }

    // min-width: 300px;
    padding-left: 20px;
}

.ctrl-infobox {
    .enabled {
        background-color: $foreground;

        .ctrl-label {
            color: $color0;
        }
    }

    &:hover .container {
        background-color: $color1;

        .ctrl-label {
            color: $foreground;
        }

        .secondary {
            color: $color0;
        }
    }

    &:active .container {
        background-color: $color9;
    }
}

.ctrl-label {
    font-size: 25px;
}

.secondary {
    font-size: 22px;
    color: $color8;
}

.ctrl-button:hover {
    .container {
        background-color: $color1;
    }

    .caution {
        background-color: $color3;

        label {
            color: $background
        }
    }
}

/*#endregion*/
