.album-art {
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 14px;
}

.music-info {
    padding: 20px;
}

.song-title {
    font-size: 50px;
}

.song-artist {
    font-size: 30px;
}
