### WINDOW RULES

# workspace spawn assigning
assign [class="Steam"] 8
assign [class="steamwebhelper"] 8
assign [class="PrismLauncher"] 8
assign [class="discord"] 9
assign [class="Slack"] 9
for_window [class="Spotify"] move to workspace 10

# workspace focus auto switch
#for_window [class="Steam"] workspace 8
#for_window [class="PrismLauncher"] workspace 8
#for_window [class="discord"] workspace 9
#for_window [class="Slack"] workspace 9
#for_window [class="Spotify"] workspace 10

# floating on launch sets
for_window [class="Steam"] floating enable
for_window [class="PrismLauncher"] floating enable
for_window [instance="Godot_ProjectList"] floating enable
for_window [app_id="^blueman.*$"] floating enable
for_window [app_id="pavucontrol"] floating enable
for_window [app_id="nm-connection-editor"] floating enable
for_window [app_id="openrgb"] floating enable
